body{
  background: #2196f35c;
  display: flex;
  flex-wrap: wrap;
}
img{
  width: 100%;
}
.left{
  width: 25%;
  border-style: dashed;
  border-radius: 30px;
  border-color: yellow;
  background-color:#CED569;
  margin-right: 10px;
}
.right{
  background-color: pink;
  border-radius: 30px;
  border-color: green;
  border-style: groove;
  width:73%;

  font-style: italic;
  text-align: center;
}
table{
  width: 100%;
  background-color: grey;
  margin: 2px solid black;
}
th{
  color: red;
}
